<div class="container-contact w-100 p-3 h-100 ">
    <a 
        routerLink="/contact-form"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        href="/contact-form"
     class="w-100 mt-2 fw-bolder d-flex flex-row align-content-center gap-1 justify-content-center align-items-center text-decoration-none ">Contactame
        <svg xmlns="http://www.w3.org/2000/svg" class=" icon icon-tabler icon-tabler-external-link" width="16" height="16" viewBox="0 0 24 24" stroke-width="3" stroke="#2980b9" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" /><path d="M11 13l9 -9" /><path d="M15 4h5v5" />
        </svg>
    </a>
    <ul class="list-group  mt-3 justify-content-center d-flex flex-row mx-auto gap-3 flex-wrap  list-unstyled ">
        <li>
            <a class="text-decoration-none"  href="mailto:jnoel883@gmail.com">Gmail</a>
        </li>
        <!--<li>
            <a class="text-decoration-none" href="">LinkedIn</a>
        </li>-->
        <li>
            <a class="text-decoration-none" href="https://github.com/JesusNoel69" target="_blank">GitHub</a>
        </li>
        <li>
            <a class="text-decoration-none" href="https://www.facebook.com/jesus.noel.5070?mibextid=ZbWKwL" target="_blank">Facebook</a>
        </li>
    </ul>
</div>
