<div appFadeIn id="start">
    <section id="about"
        class="mt-2 mb-5 d-flex justify-content-center">
        <app-about></app-about>
    </section>
    <section id="projects"
        class="mt-2 mb-2 ">
        <app-projects></app-projects>
    </section>
    <section id="skills"
        class="mt-2 mb-2 d-flex justify-content-center">
        <app-skills></app-skills>
    </section>
    <section id="education"
    class="mt-2 mb-2 d-flex justify-content-center ">
        <app-education></app-education>
    </section>
    <footer id="contact"
    class="h-25 mb-0">
        <app-contact></app-contact>
    </footer>
</div>