<!--TODO: optimzar los svgs e imagenes-->
<section id="start" 
 class="w-100 d-grid align-items-center">
    <!-- TODO: reemplazar por un video o animacion -->
    <div class=" video container position-relative  border-light mx-auto z-2 ">
        <h1 class="z-3">Mira el contenido debajo👇</h1>
        falta un video/Imagen/Animacion detras del texto
    </div>
</section>
<section id="education"
class="mt-2 mb-2 d-flex justify-content-center ">
    <app-education></app-education>
</section>
<section id="skills"
    class="mt-2 mb-2 d-flex justify-content-center">
    <app-skills></app-skills>
</section>
<section id="laptop"
    class="mt-2 mb-2 d-flex justify-content-center">
     <!-- <app-laptop></app-laptop>  -->
</section>
<section id="about"
    class="mt-2 mb-2 d-flex justify-content-center">
    <app-about></app-about>
</section>
<section id="projects"
    class="mt-2 mb-2 ">
    <app-projects></app-projects>
</section>
<footer id="contact"
class="h-25 mb-0">
    <app-contact></app-contact>
</footer>