<div class="container-fluid container-sm justify-content-center mx-auto
mt-5">
    <div class="grid">
        <p class="paragraph one">
            <span class="span-text"
            >Hola👋</span>, soy Jes&uacute;s, estudiante universitario de sistemas computacionales. 
            Desde los 15 a&#241;os, <span>he estado inmerso en el mundo tecnol&oacute;gico, 
            desde el mantenimiento de equipos y redes hasta la programaci&oacute;n</span>.
        </p>
        <div class="two rounded-circle ">
            <img class="two rounded-circle " src="../../../assets/angular-17-img.jpg" alt="">
        </div>
        <p class="paragraph three">
            En mis primeros a&#241;os, decidir mi camino en los estudios fue un desaf&iacute;o, 
            y finalmente me inclin&eacute; hacia la programaci&oacute;n. Considero que la 
            programaci&oacute;n es una forma única de dar rienda suelta a la imaginaci&oacute;n, 
            donde a mi parecer la &uacute;nica restricci&oacute;n es el talento y el esfuerzo.
        </p>
    </div> 
        
        <p class="paragraph four">
            Lo que me encanta es la resoluci&oacute;n de problemas 
            dif&iacute;ciles <span>(dif&iacute;ciles  no imposibles)</span>,
             ya que representan retos que me motivan y ponen a prueba 
            mis capacidades.
        </p>
        <p class="paragraph five">
            Enfoco mis esfuerzos en <span>mejorar constantemente mis habilidades de 
            programaci&oacute;n</span>, dedicando tiempo a repasar las &aacute;reas que me presentaron 
            desaf&iacute;os en su momento. Esto me permite ver mis propios progresos😁.
        </p>
</div>
<!-- 
english-needs correction
<p>
  Hi, I'm Jesús, a university student majoring in computer systems. Since the age of 15, I've been immersed in the technological world, ranging from hardware maintenance and networks to programming.
</p>
<p>
  In my early years, deciding on my academic path was a challenge, and I ultimately leaned towards programming. I believe that programming is one of the few ways to unleash imagination, with the only restriction being talent.
</p>
<p>
  My greatest passion in this field is tackling the resolution of challenging problems, as they represent motivating challenges that put my abilities to the test.
</p>
<p>
  I focus on continually improving my programming skills, dedicating time to revisit areas that presented challenges in the past. This allows me to appreciate and celebrate my own progress :D.
</p> -->