<div class="container-fluid p-1 px-5 justify-content-center mx-auto mt-5">
    <div class="grid">
        <p class="paragraph one">
            <span class="span-text">Hola👋</span>, soy Jesús, un estudiante de sistemas computacionales 
            metido en la tecnología desde los 15 años. He explorado desde el mantenimiento de 
            equipos y redes hasta la programación. 
            Me enfocado en la programación porque es una forma única de liberar la <span>imaginación</span>, donde solo el <span>talento</span> y 
            el <span>esfuerzo</span> marcan los límites.
        </p>
        <div class="two rounded-circle">
            <img loading="lazy" class="two rounded-circle" src="../../../assets/images/anonimo.webp" 
                alt="personal image">
        </div>
        <p class="paragraph three">
            Me encanta enfrentar <span>problemas difíciles</span>, ya que representan retos que me motivan y ponen a prueba mis habilidades. 
            Dedico tiempo a <span>mejorar</span> constantemente, revisando áreas que antes me resultaron desafiantes, lo que me permite ver 
            mi progreso y seguir creciendo en este apasionante mundo tecnológico.
        </p>
    </div> 
</div>
