<div class="container-fluid p-1 px-5 justify-content-center mx-auto
mt-5">
    <div class="grid">
        <p class="paragraph one">
            <span class="span-text"
            >Hola👋</span>, soy Jes&uacute;s, estudiante universitario de sistemas computacionales. 
            Desde los 15 a&#241;os, <span>he estado inmerso en el mundo tecnol&oacute;gico, 
            desde el mantenimiento de equipos y redes hasta la programaci&oacute;n</span>.
        </p>
        <div class="two rounded-circle ">
            <img class="two rounded-circle " src="../../../assets/images/angular-17-img.jpg" 
                alt="personal image">
        </div>
        <p class="paragraph three">
            En mis primeros a&#241;os, decidir mi camino en los estudios fue un desaf&iacute;o, 
            y finalmente me inclin&eacute; hacia la programaci&oacute;n. Considero que la 
            programaci&oacute;n es una forma única de dar rienda suelta a la imaginaci&oacute;n, 
            donde a mi parecer la &uacute;nica restricci&oacute;n es el talento y el esfuerzo.
        </p>
    </div> 
        
        <p class="paragraph four">
            Lo que me encanta es la resoluci&oacute;n de problemas 
            dif&iacute;ciles <span>(dif&iacute;ciles  no imposibles)</span>,
             ya que representan retos que me motivan y ponen a prueba 
            mis capacidades.
        </p>
        <p class="paragraph five">
            Enfoco mis esfuerzos en <span>mejorar constantemente mis habilidades de 
            programaci&oacute;n</span>, dedicando tiempo a repasar las &aacute;reas que me presentaron 
            desaf&iacute;os en su momento. Esto me permite ver mis propios progresos😁.
        </p>
</div>
