*{
    margin:0;
    background: transparent;
}
.span-text{
    font-size: 3rem;
}
span{
    background: transparent;
    color: #f9e79f;
}
.paragraph{
    line-height: 1.5rem;
    margin-top: 1.5rem;
}

/*grid*/
.grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:.5rem;
}
.one {
    grid-column: 1/3;
    grid-row: 1;
}
.two {
  align-self: center; 
  justify-content: center;
  grid-column: 3/3;
  grid-row: 1/3;
  
} 
.three {
  grid-column: 1/3;
  grid-row: 2;
}

@media(width<600px){
  .grid{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:.25rem;
    
  }
  .one { 
      grid-column: 1;
      grid-row: 2;
  }
  .two {
    margin:0 auto;
    grid-column: 1;
    grid-row: 1;
    width:5rem;
  } 
  .three {
    grid-column: 1/3;
    grid-row: 3;
  }
}