@if(showNavbar){
    <ul class="ul fixed-top mt-2 rounded-pill p-1 flex-wrap 
    container list-group d-flex flex-row gap-2 list-unstyled justify-content-center">
        <li class="rounded-circle"><a 
            class="text-decoration-none rounded-circle" href="#start">
            <img class="rounded-circle border-svg" src="../../../assets/images/home-2.svg" alt="Home" width="30" height="30">
        </a></li>
        <li class="rounded-circle"><a 
            class="text-decoration-none rounded-circle " href="#contact">
            <img class="rounded-circle border-svg" src="../../../assets/images/address-book.svg" alt="Contact" width="30" height="30">
        </a></li>
        <li class="rounded-circle"><a (click)="scrollToSection('skills')"
            class="text-decoration-none rounded-circle">
            <img class="rounded-circle border-svg" src="../../../assets/images/script.svg" alt="Skills" width="30" height="30">
        </a></li>
        <li class="rounded-circle"><a
            class="text-decoration-none rounded-circle" href="#projects">
            <img class="rounded-circle border-svg" src="../../../assets/images/code.svg" alt="Projects" width="30" height="30">
        </a></li>
        <li class="rounded-circle"><a
            class="text-decoration-none rounded-circle" href="#about">
            <img class="rounded-circle border-svg" src="../../../assets/images/user.svg" alt="About" width="30" height="30">
        </a></li>
        <li class="rounded-circle"><a class="text-decoration-none rounded-circle" href="../../../assets/data/CV.pdf">
            <img class="rounded-circle border-svg" src="../../../assets/images/settings-automation.svg" alt="General settings" width="30" height="30">
        </a></li>
    </ul>
}