<!-- TODO: ver si reemplazar por iconos -->
<ul class="ul container sticky-top list-group d-flex flex-row gap-2 list-unstyled justify-content-center rounded-pill">
    <!-- TODO: ver si se necesita comunicacion con componentes para referencias secciones -->
    <li ><a class="text-decoration-none" href="">
        Start
    </a></li>
    <li ><a class="text-decoration-none" href="">
        Contact
    </a></li>
    <li><a class="text-decoration-none" href="">
        Projects
    </a></li>
    <li><a class="text-decoration-none" href="">
        Skills
    </a></li>
    <li><a class="text-decoration-none" href="">
        About
    </a></li>
    <li><a class="text-decoration-none" href="">
        Theme
    </a></li>
</ul>