<div class="container-contact-form container-fluid w-100 h-75 d-flex flex-column align-items-center mx-auto mb-2 
background-transparent h-100">
  <h3 class="text-center mt-3 background-transparent d-flex">
    <a href="/" class="background-transparent">
      <img class="background-transparent arrow" src="../../../assets/images/arrow-narrow-left.svg" alt="home">
    </a>
    Contactame directamente
  </h3>


  <div class="container-color d-flex flex-column flex-md-row justify-content-center
  align-items-center w-100 h-100 mx-auto rounded pb-2 pt-2 mb-5">
    @if(showPopover){
        <div class="popover position-absolute end-0 rounded m-2">
            <p class="bg-transparent popover mt-3 m-3">{{ popoverMessage }}</p>
            <button (click)="showPopover=false" class="btn-close position-absolute end-0 top-0 me-0" aria-label="Close"></button>
        </div>
    }
    <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)"
      class="flex-column flex-sm-row justify-content-center align-items-center w-100 w-md-100 h-75 gap-1 rounded">
      <label for="name" class="d-block mb-1 mx-auto text-center w-sm-75 w-75 mt-3">Dejame un mensaje</label>

      <input  autocomplete="nombre"
        id="name" name="name" type="text" 
        class="rounded d-block mb-1 mx-auto w-75 w-sm-75" 
        placeholder="nombre" ngModel> 

      <textarea id="message" name="message" type="text" 
        class="rounded d-block mb-1 mx-auto w-75 w-sm-75 h-75"
        placeholder="mensaje" ngModel></textarea>

      <input type="submit" (mousedown)="reduceSizeButtonClicked($event)"
      (mouseup)="growSizeButtonClicked($event)"
      id="buttonStyle" name="buttonStyle"
      class="submit-button rounded d-block mb-1 mx-auto w-75 w-sm-75">
    </form>
    
    
    <div class="flex-column flex-sm-row mt-sm-5 justify-content-center mx-auto align-items-center w-100 
    background-transparent">
      <div class="text-center background-transparent">
        <p class="background-transparent mb-0">Ciudad Juárez, Chih.</p>
        <p class="background-transparent mb-0">CP. 32180</p>
        <p class="background-transparent mb-0">
          <img class="background-transparent" src="../../../assets/images/phone.svg" alt="phone">+526969696
        </p>
      </div>
      <div class="rounded container-contact-form container-fluid w-75 h-auto d-flex flex-column align-items-center mx-auto p-0">
        <!-- Google Maps Embed -->
        @if (!this.isNotKey()) {
            <iframe class="w-100 h-100 rounded background-transparent" width="600" height="450" style="border:0"
                loading="lazy" allowfullscreen [src]="getKey()"></iframe>
        }
        </div>
    </div>
  </div>
</div>
