<div class="container-fluid w-100 h-auto d-flex flex-column align-items-center mb-2">
    <h3 class="text-center mt-3">Contactame directamente</h3>
    
    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center w-100 h-100 mx-auto">
        <form class="flex-column flex-sm-row justify-content-center align-items-center w-75  w-md-75 h-75 gap-1">
            <label class="d-block mb-1 mx-auto w-sm-75 w-75" for="">Dejame un mensaje</label>
            <input type="text" class="rounded d-block mb-1 mx-auto w-75 w-sm-75" placeholder="nombre">
            <textarea type="text" class="rounded d-block mb-1 mx-auto w-75 w-sm-75" placeholder="mensaje"></textarea>
            <input type="submit" class="rounded d-block mb-1 mx-auto w-75 w-sm-75">
        </form>
        <!-- TODO: verificar que si se centre con la ubicacion -->
        <div class="flex-column flex-sm-row ml-sm-3 mx-auto justify-content-center mx-auto align-items-center w-75">
            <div class="text-center ">
                <p class="lh-1">Ciudad juarez, Chih.</p>
                <p class="lh-1 ">CP. 32180</p>
                <p class="lh-1"><img  src="../../../assets/phone.svg" alt="">+526969696</p>

            </div>
            <div>
                map
            </div>
        </div>

    </div>
</div>
