<!-- TODO: usar el accordion de boootstrap para los proyectos
volver el proyecto un componente aparte e iterarlo en este,
mockear los datos en lugar de ponerlos estaticos -->
<div class="container-fluid px-5  d-flex flex-wrap d-md-grid gap-1 p-1 container-projects">
    <div class="e1 w-100 mb-sm-1 rounded"><img src="" alt=""> img1</div>
    <div class="e2 w-100 mb-sm-1 pl rounded"><img src="" alt=""> img2</div>
    <div class="e3 w-100 rounded"><img src="" alt=""> img3</div>
    <div class="desc w-100 rounded"> desc</div>
    <div class="pills w-100 rounded"> pills</div>
</div>