<header class="mt-3">
    <app-navbar ></app-navbar>
</header>
<!--TODO: optimzar los svgs e imagenes-->
<p>app works!</p>
<section class="w-100 d-grid align-items-center">
    <!-- TODO: reemplazar por un video o animacon -->
    <div class=" video container position-relative  border-light mx-auto z-2 ">
        <h1 class="z-3">Mira el contenido debajo👇</h1>
        falta un video/Imagen/Animacion detras del texto
    </div>
</section>
<hr>
<section class="mt-2 mb-2 d-flex justify-content-center ">
    <app-education></app-education>
</section>
<hr>
<app-skills></app-skills>
<hr>
<app-contact-form></app-contact-form>
<hr>
<app-laptop></app-laptop>
<hr>
<app-about></app-about>
<hr> 
<app-projects></app-projects>
<hr>
<footer class="h-25 mb-0">
    <app-contact></app-contact>
</footer>

<router-outlet></router-outlet>