<h2 class="text-center ">Mi educaci&oacute;n/experiencia</h2>
<div class="d-flex flex-wrap justify-content-center px-sm-5
gap-2  principal-container mt-3" >
    <article class="rounded w-25">
        <h3 class="rounded">Universidad Autonoma de Ciudad Juarez</h3>
        <p><strong>T&iacute;tulo obtenido:</strong> Aun cursando la carrera 
            en Sistemas Computacionales </p>
        <p><strong>Fecha de graduación:</strong> En progreso...</p>
    </article>
    
    @for (card of info; track $index) {
        <article class="w-25 rounded">
            <h3 class="rounded">{{card.title}}</h3>
            @if (card.carta!=null) {
                <p><strong>{{card.carta}}</strong></p>
            }
            <p><strong>Nombre del Curso:</strong> {{card.name}}</p>
            <p><strong>Plataforma:</strong> {{card.platform}}</p>
            <p><strong>Fecha de finalizaci&oacute;n:</strong> {{card.terminated}}</p>
            @if (card.credentialLink!="") {
                <p><strong>Insignia dgital</strong></p>
                <a target="_blank" [href]=card.credentialLink>
                    <img class="size-img" [src]=card.image alt="credential"></a>
            }

        </article>
    }
</div>
