<div class="container-fluid w-100 container-skills">
    <h2 class="text-center">Habilidades</h2>
    <!-- flex-wrap para que caigan las imagenes al no haber espacio -->
    <ul class="list-group list-unstyled d-flex flex-row align-items-center gap-lg-3 gap-2 justify-content-center mt-5 w-auto  
    flex-wrap">
    @for(image of images; track $index){
        <li>
            <!--(click)="changeProperties($event,image.id)"-->
            <img
             [src]=image.source [alt]=image.alt [width]=image.width [height]=image.height
             [id]="image.id" 
             [ngClass]="{
                'skills': image.id == 'MySQL' || image.id == 'Docker',
                'selected': (selectedImageId === image.id),
                'not-selected': (selectedImageId !== image.id)&&image.id!='Docker' && image.id!='MySQL'
            }">
            
        </li>
    }
    </ul>
    <p class="w-100 rounded bg-white mt-1 mb-5">{{description}}</p>
</div>
