/* You can add global styles to this file, and also import other style files */
/*
color palette (first propose):
principal blue: #3498db //text|contrast
blue more than obscure: #2980b9
white: #ffffff          //text|titles
obscure gray: #34495e   //elments
light gray: #ecf0f1     //elements
blue sky: #87ceeb       //hover|text|titles|icons
soft yellow: #f9e79f    //text|titles|span
green mint: #2ecc71     //border|span
coral red: #ff6f61      //text|titles|span
*/
*{ 
    margin: 0;
    padding:0;
    /* background: rgb(52,73,94); */
    background: linear-gradient(90deg, rgba(52,73,94,1) 0%, rgba(52,152,219,1) 29%, rgba(44,62,80,1) 89%);
    color:#87ceeb;
    border:none;
    border-color: #ecf0f1;/*TODO: hr es un borde*/
    scrollbar-width: none;

}
h1, h2{
    color: #f9e79f;
}
html,
body {
    height: 100%;
    width: 100%;   
}
